# Configuración de Base de Datos (XAMPP MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=admin cartelera
DB_PORT=3306

# Servidor
PORT=8000

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=8h

# CORS
CORS_ORIGIN=http://localhost:3000
